In [10]:
a = "Pakistan Zinda Bad"
a

'Pakistan Zinda Bad'

In [4]:
a.upper()

'PAKISTAN ZINDA BAD'

In [1]:
print?

In [3]:
print??

In [4]:
name = "Taimoor Muneer"
father_name = "Muneer Ahmed"
roll_no = 786

abc = """
*******PIAIC********
Saylani Welfer Trust
Name: {}
Father's Name: {}
Roll No: {}
"""

print(abc.format(name, father_name, roll_no))

*******PIAIC********
Saylani Welfer Trust
Name: Taimoor Muneer
Father's Name: Muneer Ahmed
Roll No: 786

In [5]:
name = input("Enter your name")
father_name = input("Enter your Father's Name")
roll_no = input("Enter your Roll no")

abc = """
*******PIAIC********
Saylani Welfer Trust
Name: {}
Father's Name: {}
Roll No: {}
"""

print(abc.format(name, father_name, roll_no))

Enter your nameTaimoor Muneer
Enter your Father's NameMuneer Ahmed
Enter your Roll no786

*******PIAIC********
Saylani Welfer Trust
Name: Taimoor Muneer
Father's Name: Muneer Ahmed
Roll No: 786

In [6]:
2 ** 3

8

In [7]:
2 * 3

6

In [11]:
# pemdas
2 + 6 * 8 / 5 + (2*3)

17.6

In [13]:
a = "Pakistan"
a

'Pakistan'

In [16]:
a = "China" #inline
a

'China'

In [17]:
a

'China'